.item-disabled {
  cursor: not-allowed;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}

.item-focused {

}

.item-hovered {

}

.item-active {

}

.item-hasicon {

}
